test/fixtures/wsdl/functional/union.wsdl

<?xml version="1.0"?>
<definitions name="InteropTest"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://soapinterop.org/"
    xmlns:s="http://soapinterop.org/xsd"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="http://soapinterop.org/">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soapinterop.org/xsd">
            <xsd:simpleType name="jeansSize">
                <xsd:union memberTypes="s:sizebyno s:sizebystring" />
            </xsd:simpleType>
            <xsd:simpleType name="sizebyno">
                <xsd:restriction base="xsd:positiveInteger">
                    <xsd:maxInclusive value="42"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="sizebystring">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="small"/>
                    <xsd:enumeration value="medium"/>
                    <xsd:enumeration value="large"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:element name="jeansSizeContainer">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="jeansSize" type="s:jeansSize" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </schema>
    </types>

    <message name="validateRequest">
        <part name="input" type="s:jeansSize" />
    </message>
    <message name="validateResponse">
        <part name="output" type="s:jeansSize" />
    </message>

    <portType name="InteropTestPortType">
        <operation name="validate">
            <input message="tns:validateRequest"/>
            <output message="tns:validateResponse"/>
        </operation>
    </portType>

    <binding name="InteropTestBinding" type="tns:InteropTestPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="validate">
            <soap:operation soapAction="http://soapinterop.org/validate" style="rpc"/>
            <input>
                <soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <service name="InteropTest">
        <port name="InteropTestPort" binding="tns:InteropTestBinding">
            <soap:address location="http://soapinterop.org/"/>
        </port>
    </service>
</definitions>


